flask==3.0.3
flask-sqlalchemy==3.1.1
flask-migrate==4.0.7
flask-bcrypt==1.0.1
flask-jwt-extended>=4.0.0
flask-cors>=4.0.0
python-dotenv==1.0.1
requests==2.31.0
gunicorn>=21.2.0
psycopg2-binary==2.9.12